$primary: #64103F;

body {
  //padding-top: 80px;
  background-color: #e1e1e1 !important;
  color: $primary;
}

// Navbar styling
.navbar {
  background: $primary;
  padding-bottom: 20px;
}

.navbar-brand {
  font-size: 150%;
  font-weight: bold;
  color: #ffffff;
}

.navbar-brand:hover {
  color: #ff0000;
}

.navbar-nav {
  padding-right: 20px;
}

.navbar-nav li > a {
  font-weight: bold;
  font-size: 130%;
  color: #ffffff;
}

.navbar-nav li > a:hover {
  color: #ff0000;
}

// Form styling
.page-heading, div > label {
  color: $primary;
}


@import "bootstrap";
